@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Scribble&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  width: 100%;
  max-height: 750px;
}

.search_menu {
  margin-inline-start: 0px;
  padding-left: 0rem;
  padding-bottom: 0rem;
}
.menu-horizontal > li:not(.menu-title) > details > ul {
  margin-inline-start: 0px;
  margin-top: 0.5rem;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 0.61rem;
}
